# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/server-meat/node_modules
/server/node_modules
/client/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Gestao Projetos
/GESTAO_PROJETOS


/03.02 - Empreendedorismo e gestão da inovação

