# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/server-meat/node_modules
/server/node_modules
/client/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Gestao Projetos
/GESTAO_PROJETOS
/# Diversos
/# Documentos
/# Livros
/# MS Project
/01.01 - Liderança e gestão de equipes
/01.02 - Environmental, social and corporate governance (ESG)
/01.03 - Estratégia corporativa e de negócios
/01.04 - Análise de viabilidade de projetos
/01.05 - Negociação e administração de conflitos




/03.02 - Empreendedorismo e gestão da inovação

